tests/data/*.csv

venv/*

# various caches
**/.pytest_cache
**/__pycache__/

# Pylint output
pylint_res.txt

# Examples folder 
jaxfin/examples/

# examples requirements
jaxfin/examples/requirements.txt

# Nox environments
.nox/*

# Test results
test_report.xml